<h2>Add Category</h2><br/>
<%form_for @category do |f|%>
<%=f.error_messages%><br/>
<%=f.label :categoirs%><br/>
<%=f.text_field :categories%><br/>
<%=f.label :description%><br/>
<%=f.text_area :description%><br/>
<%= f.submit"add" %>
<%end%>